<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280157168827-1b1uhb645h0g3kevfc551v9426ftprpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280157168827-1b1uhb645h0g3kevfc551v9426ftprpd</string>
	<key>API_KEY</key>
	<string>AIzaSyBEw5LJkMHU2iTWeSkRK37qKv8ObVZT4T4</string>
	<key>GCM_SENDER_ID</key>
	<string>280157168827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.micahgoeke.scripturememory.app</string>
	<key>PROJECT_ID</key>
	<string>bustling-task-lpsvl</string>
	<key>STORAGE_BUCKET</key>
	<string>bustling-task-lpsvl.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280157168827:ios:81ab8a6464a1ac4e5a359e</string>
</dict>
</plist>